.container {
  @apply mx-auto my-0 w-[85%] max-w-[1400px];
}

.default__layout__content {
  @apply bg-gray-50 text-gray-900;
  min-height: calc(100vh - 54px);
}

.login__btn {
  @apply text-blue-600;
}

.logout__btn {
  @apply text-rose-500 font-semibold px-2.5 py-1 rounded-sm;
  background-color: rgba(255, 0, 0, 0.07) !important;
}

.only__mobile {
  display: none !important;
  visibility: hidden !important;
}

.mobile__hidden {
  display: block !important;
}

.mobile__menu__hidden {
  display: flex !important;
}

/* Only Mobile Screens */
@media screen and (max-width: 767.99px) {
  .container {
    @apply w-[100%] max-w-[100%] px-2.5;
  }

  .mobile__hidden,
  .mobile__menu__hidden {
    display: none !important;
  }

  .only__mobile {
    display: block !important;
    visibility: visible !important;
  }
}
