.container {
  @apply mx-auto my-0 w-[85%] max-w-[1400px];
}

a {
  cursor: pointer;
}

.default__layout__content {
  @apply bg-slate-50 text-gray-900;
  min-height: calc(100vh - 54px);
}

.login__btn {
  @apply text-blue-600;
}

.logout__btn {
  @apply text-rose-500 font-semibold px-2.5 py-1 rounded-sm;
  background-color: rgba(255, 0, 0, 0.07) !important;
}

/* Movies */
.movie__info {
  &__container {
    @apply flex flex-col gap-y-3 pt-5 md:pt-0;
  }

  &__intro {
    @apply flex flex-col justify-start gap-y-3 md:flex-row-reverse 
    gap-x-6 md:pt-5 md:justify-end;
  }

  &__summary {
    @apply flex flex-col gap-y-2 md:min-w-[340px] md:ml-auto md:mr-[240px];

    h2 {
      @apply pt-0;
    }
  }

  &__poster {
    @apply w-[100%] md:max-w-[400px] md:max-h-[600px];
  }

  &__details {
    @apply pt-6 pb-12;
  }
}

.only__mobile {
  display: none !important;
  visibility: hidden !important;
}

.mobile__hidden {
  display: block !important;
}

.mobile__menu__hidden {
  display: flex !important;
}

/* Only Mobile Screens */
@media screen and (max-width: 767.99px) {
  .container {
    @apply w-[100%] max-w-[100%] px-2.5;
  }

  .mobile__hidden,
  .mobile__menu__hidden {
    display: none !important;
  }

  .only__mobile {
    display: block !important;
    visibility: visible !important;
  }
}
